.app {
  text-align: center;
  height: 100vh;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 32px;
  padding: 8px 16px;
  background-color: #2f3640;
}

.header-logo, .nav-link {
  text-decoration: none;
  cursor: pointer;
  padding: 4px 8px;
  color: #fff;
}

.header-logo {
  font-size: 18px;
  font-weight: 600;
}

.content {
  display: grid;
  height: calc(100% - 48px);
  align-items: center;
  grid-template-columns: 1fr 400px;
}

.right, .left {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.right {
  background-color: #d1ccc0;
}

.left {
  flex-direction: column;
  background-color: #f7f1e3;
}

.cta-btn {
  height: 32px;
  padding: 8px 16px;
}
